
            <!-- START FOOTER -->
            <div class="footer">
              <table
                role="presentation"
                border="0"
                cellpadding="0"
                cellspacing="0"
              >
                <tr>
                  <td class="content-block">
                    <span class="apple-link"
                      >{{name}}, {{address}}</span
                    >
                    <br />
                    Don't like these emails?
                    <a href="{{unsubscribeUrl}}">Unsubscribe</a>.
                  </td>
                </tr>
              
              </table>
            </div>

            <!-- END FOOTER -->

            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
